<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="welcome_cntr">
                <div class="welome_image_cntr">
                    
                </div>
                <div class="welcome_title_cntr">
                    Welcome <span>{{displayUsername}} !</span><br /> logged in as a {{displayUserType}}.
                </div>
                <div class="welcome_navigation_cntr">
                    <a class="genric-btn primary" routerLink="/Dashboard">Go to Dashboard ></a>
                </div>
            </div>
        </div>
    </div>
</div>